@page
@model Repaso_RP.Pages.Shared.Main
@{
    ViewData["Title"] = "Main";
}

<h1>@ViewData["Title"]</h1>

<div>

    <h1> result: @res</h1>


    <input type="number" name="1stNum"/> <br/>
    <input type="text" name="operation"/> <br/>
    <input type="number" name="2ndNum"/> <br/>
    <button type="submit"> Listo </button>
    
</div>