@page
@model Northwind.Pages.Categories.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>OH NOOOOO</h1> <!--A little message in case you cause an error-->

<h3>You are tryng to delete a row involve in other tables</h3>
<p>Think what you are doing!!!!</p>
<button onclick="window.location.href='/index';"> <!--in case you want to return-->
      Return
    </button>
