@page
@model Northwind.Pages.Categories.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Deleting</h1> <!--A little message in case the page neads time to make the changes-->

<h3>Procesing the changes...</h3>
