@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h3>We already have all your data, Mua-ha-ha-ha-ha.</h3>
<p>Don't even try to call for help</p>
<img src="https://i.pinimg.com/1200x/d5/de/a1/d5dea188f1388951fc114d9af4e7049c.jpg" alt="">