@page
@model Pag_Web.Pages.Main
@{
    ViewData["Title"] = "Main";
}
<form method="post">

    <Input type="number" name="ID" /><br />
    <Input type="text" name="Title" /><br />
    <Input type="date" name="ReleaseDate" /><br />
    <Input type="text" name="Genre" /><br />
    <Input type="number" name="Price" /><br />


    <button type="Submit"> Agregar Peli</button>
</form>